* {
  font-family: Roboto;
}

.spacer {
  height: 60px;
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}

.navbar-brand {
  color: white;
}

.iconNav {
  color: #757575;
}

.nav-link.active .iconNav{
  color: #00adef;
}

a .active>svg {
  color: red;
}

#theMenu {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-100vw, 0, 0);

  width: 100vw;
  height: 100vh;
}
